body {
  background: #111;
  color: white;
  font-family: Arial;
  text-align: center;
}

video {
  width: 90%;
  max-width: 900px;
  margin: 15px;
  border-radius: 10px;
}

button {
  padding: 10px;
  margin: 5px;
  background: #1e90ff;
  border: none;
  color: white;
  border-radius: 8px;
}

.tabs {
  margin: 10px;
}
